extends ../layout

block content
  h2= topic
  h4 what I know
  .marked
    !{know}
  h4 what I want to know
  .marked
    !{want}
  h4 what I learned
  .marked
    !{learned}
  h4 how I learned it
  .marked
    !{how}
  if owner
    a.button.edit(href="/"+ username +"/" + id + "/edit") edit
  a.button.show(href="/"+ username) back
