extends ../layout

block content
  h3= topic
  .tablerow
    .img-rounded.knowNew.column2
      .title
        h2 what I know
      .showbox.img-rounded !{know}
    .img-rounded.whatNew.column2
      .title
        h2 what I want to know
      .showbox.img-rounded !{want}
    .img-rounded.learnNew.column2
      .title
        h2 what I learned
      .showbox.img-rounded !{learned}
    .img-rounded.howNew.column2
      .title
        h2 how I learned it
      .showbox.img-rounded !{how}
  a.button.btn.btn-info(href="/"+ username +"/" + id + "/edit") edit
  a.button.btn.btn-info(href="/"+ username) back
